In [106]:
## imports
import pandas as pd
import numpy as np
import os
from eda import insufficient_but_starting_eda
import seaborn as sns

In [108]:
# Load the Data
comp = pd.read_csv('inputs/cust_supply_2019_2022.csv')
sp500 = pd.read_csv('inputs/sp500_2022.csv')
acct_raw = pd.read_csv("inputs/acct_data.csv")

,gvkey,cid,cnms,ctype,gareac,gareat,salecs,sid,stype,srcdate,conm,tic,cusip,cik,sic
0,1004,31,All Other,MARKET,NaN,NaN,NaN,0,NaN,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
1,1004,18,U.S. Government,GOVDOM,USA,ISO,455.900,20,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
2,1004,26,U.S. Government,GOVDOM,USA,ISO,90.300,22,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
3,1004,36,Europe/Africa,GEOREG,EUROPE,REG,5.800,22,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
4,1004,34,Other,GEOREG,OTHER,REG,170.400,20,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77896,350681,1,Large Corporate Clients,MARKET,NaN,NaN,76.814,1,BUSSEG,2021-12-31,GETNET ADQUIRENCIA E,GET,37428A103,1867325.0,7374
77897,353444,4,Rest of the World,GEOREG,R_WORLD,REG,7148.294,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834
77898,353444,3,China,GEOREG,CHN,ISO,1084.634,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834
77899,353444,2,US,GEOREG,USA,ISO,4249.166,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834
77900,353444,1,UK,GEOREG,GBR,ISO,442.791,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834

# Merging the data

In [110]:
# Select rows where 'cnms' is not equal to 'U.S. Government'

comp2 = comp
#comp2 = comp[comp['ctype'] == 'COMPANY']
comp2 = comp2[comp2['cnms'] != 'Not Reported']
# comp4 = comp2[comp2['cnms'] == 'Not Reported']
# comp4

comp3 = comp2.dropna(subset=['salecs'])
comp3

compzzz = comp2[comp2['cnms'] == 'Not Reported']  # we checked to see if these companies were in sp500, they were not, so deleting them was ok
#checking here!
compzzz = compzzz.rename(columns = {'cik': 'CIK'})
testng_merge = compzzz.merge(sp500, on='CIK', how = 'inner', indicator=True)

In [111]:
comp3 = comp3.rename(columns = {'cik': 'CIK'})
merged = comp3.merge(sp500, on='CIK', how = 'inner')
merged

#merged['CIK'].nunique() #385 values

,gvkey,cid,cnms,ctype,gareac,gareat,salecs,sid,stype,srcdate,...,cusip,CIK,sic,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,Founded
0,1075,22,Retail non-residential electric service,MARKET,NaN,NaN,1509.514,9,BUSSEG,2019-12-31,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
1,1075,21,Retail residential electric service,MARKET,NaN,NaN,1761.122,9,BUSSEG,2019-12-31,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
2,1075,23,Wholesale energy sales,MARKET,NaN,NaN,121.805,9,BUSSEG,2019-12-31,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
3,1075,25,Other sources,MARKET,NaN,NaN,16.308,9,BUSSEG,2019-12-31,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
4,1075,24,Transmission services for others,MARKET,NaN,NaN,62.460,9,BUSSEG,2019-12-31,...,723484101,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9104,316056,3,10 Customers,COMPANY,NaN,NaN,656.420,1,BUSSEG,2019-12-31,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908
9105,316056,8,Non-U.S.,GEOREG,OTHER,REG,814.400,1,BUSSEG,2020-12-31,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908
9106,316056,4,United States,GEOREG,USA,ISO,1905.500,1,BUSSEG,2020-12-31,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908
9107,316056,3,10 Customers,COMPANY,NaN,NaN,652.776,1,BUSSEG,2020-12-31,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908
9108,316056,3,10 Customers,COMPANY,NaN,NaN,716.850,0,NaN,2021-12-31,...,G0176J109,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908

In [112]:
#looking at the dates - see there is a filing in every month...
merged['date'] = pd.to_datetime(merged['srcdate'])
dates = merged.sort_values(by='srcdate')
print(dates['srcdate'])

1027    2019-01-31
7409    2019-01-31
8211    2019-01-31
7407    2019-01-31
7406    2019-01-31
           ...
518     2022-12-31
519     2022-12-31
520     2022-12-31
3172    2022-12-31
8108    2022-12-31
Name: srcdate, Length: 9109, dtype: object

In [113]:
start_date = '2020-01-01'
end_date = '2021-12-31'
filtered_df = merged.query('@start_date <= date <= @end_date')

# get the indices of the filtered dates
filtered_indices = filtered_df.index

# drop the filtered dates from the original dataframe
filtered_out_df = merged.drop(filtered_indices)

filtered_out_df
#filtered_out_df['CIK'].nunique() #355 values

,gvkey,cid,cnms,ctype,gareac,gareat,salecs,sid,stype,srcdate,...,CIK,sic,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,Founded,date
0,1075,22,Retail non-residential electric service,MARKET,NaN,NaN,1509.514,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
1,1075,21,Retail residential electric service,MARKET,NaN,NaN,1761.122,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
2,1075,23,Wholesale energy sales,MARKET,NaN,NaN,121.805,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
3,1075,25,Other sources,MARKET,NaN,NaN,16.308,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
4,1075,24,Transmission services for others,MARKET,NaN,NaN,62.460,9,BUSSEG,2019-12-31,...,764622.0,4911,PNW,Pinnacle West,Utilities,Multi-Utilities,"Phoenix, Arizona",1999-10-04,1985,2019-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9062,189491,4,Treatment,MARKET,NaN,NaN,397.000,1,BUSSEG,2019-12-31,...,1524472.0,3561,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,2011,2019-12-31
9063,189491,3,Transport,MARKET,NaN,NaN,1780.000,1,BUSSEG,2019-12-31,...,1524472.0,3561,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,2011,2019-12-31
9102,316056,8,Non-U.S.,GEOREG,OTHER,REG,865.100,1,BUSSEG,2019-12-31,...,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908,2019-12-31
9103,316056,4,United States,GEOREG,USA,ISO,1988.900,1,BUSSEG,2019-12-31,...,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908,2019-12-31
9104,316056,3,10 Customers,COMPANY,NaN,NaN,656.420,1,BUSSEG,2019-12-31,...,1579241.0,3420,ALLE,Allegion,Industrials,Building Products,"New York City, New York",2013-12-02,1908,2019-12-31

In [114]:
listkeys = pd.DataFrame(filtered_out_df['gvkey'].unique())
listkeys.to_csv('inputs/listkeys.csv', index=False)

In [115]:
g = merged.groupby("CIK")['cnms'].apply(lambda x: list(np.unique(x)))
len(g)

358

# Understand Accounting Dataset

In [127]:
# what each var is
# ap - accounts payable (shows a company's financial ability to pay up/cover their finances)
# rect - receivbales/total (money they are waiting to receive)
# invt - inventory

# which var we want to use for net income
# ni will represent net income

# which var should we drop?
# oibdp, ib, acominc

In [ ]:
listkeys2 = listkeys.rename(columns={0: 'gvkey'})
listkeys2

merged_acct_raw_keys = pd.merge(listkeys2,acct_raw,how = 'inner', on='gvkey')
merged_acct_raw_keys['gvkey'].nunique()

In [128]:
# filter to just 2019 and 2022
# filter to have two observations for each gvkey
# drop unneeded variables

acct_df = merged_acct_raw_keys.query('fyear == 2019 or fyear == 2022')  ## changed this from acct_raw
value_counts = acct_df['gvkey'].value_counts()
acct_df2 = acct_df[acct_df['gvkey'].isin(value_counts.index[value_counts==2])].reset_index(drop=True)
#acct_df2.columns
acct_df3 = acct_df2[['gvkey', 'fyear', 'ap', 'at', 'capx', 'cogs', 'epsfx', 'gp', 'invt', 'ni', 'rect', 'sale']]
acct_df3

print(acct_df['gvkey'].nunique())
print(acct_df2['gvkey'].nunique())
print(acct_df3['gvkey'].nunique())

354
331
331

In [129]:
# filter to just 2019 and 2021
# filter to have two observations for each gvkey
# drop unneeded variables

acct_df_21 = merged_acct_raw_keys.query('fyear == 2019 or fyear == 2021')
value_counts_21 = acct_df_21['gvkey'].value_counts()
acct_df2_21 = acct_df_21[acct_df_21['gvkey'].isin(value_counts_21.index[value_counts_21==2])].reset_index(drop=True)
#acct_df2.columns
acct_df3_21 = acct_df2_21[['gvkey', 'fyear', 'ap', 'at', 'capx', 'cogs', 'epsfx', 'gp', 'invt', 'ni', 'rect', 'sale']]
acct_df3_21

print(acct_df_21['gvkey'].nunique())
print(acct_df2_21['gvkey'].nunique())
print(acct_df3_21['gvkey'].nunique())

354
351
351

In [130]:
# create new variables

acct_df4 = acct_df3
ap_value = 0
at_value = 0
capx_value = 0
cogs_value = 0
epsfx_value = 0
gp_value = 0
invt_value = 0
ni_value = 0
rect_value = 0
sale_value = 0

for index, row in acct_df4.iterrows():
    # row can be used like row['var_name']
    if index%2 ==0:
        #recording the value of the 2019
        ap_value = row['ap']
        at_value = row['at']
        capx_value = row['capx']
        cogs_value = row['cogs']
        epsfx_value = row['epsfx']
        gp_value = row['gp']
        invt_value = row['invt']
        ni_value = row['ni']
        rect_value = row['rect']
        sale_value = row['sale']
    if index%2 ==1:
        # calculating the % change
        calc_ap_value = (row['ap'] - ap_value) / ap_value * 100
        calc_at_value = (row['at'] - at_value) / at_value * 100
        calc_capx_value = (row['capx'] - capx_value) / capx_value * 100
        calc_cogs_value = (row['cogs'] - cogs_value) / cogs_value * 100
        calc_epsfx_value = (row['epsfx'] - epsfx_value) / epsfx_value * 100
        calc_gp_value = (row['gp'] - gp_value) / gp_value * 100
        calc_invt_value = (row['invt'] - invt_value) / invt_value * 100
        calc_ni_value = (row['ni'] - ni_value) / ni_value * 100
        calc_rect_value = (row['rect'] - rect_value) / rect_value * 100
        calc_sale_value = (row['sale'] - sale_value) / sale_value * 100
        
        # adding it to the df
        acct_df4.loc[index,'calc_ap_value'] = calc_ap_value
        acct_df4.loc[index,'calc_at_value'] = calc_at_value
        acct_df4.loc[index,'calc_capx_value'] = calc_capx_value
        acct_df4.loc[index,'calc_cogs_value'] = calc_cogs_value
        acct_df4.loc[index,'calc_epsfx_value'] = calc_epsfx_value
        acct_df4.loc[index,'calc_gp_value'] = calc_gp_value
        acct_df4.loc[index,'calc_invt_value'] = calc_invt_value
        acct_df4.loc[index,'calc_ni_value'] = calc_ni_value
        acct_df4.loc[index,'calc_rect_value'] = calc_rect_value
        acct_df4.loc[index,'calc_sale_value'] = calc_sale_value
        
acct = acct_df4
acct.to_csv("outputs/acct.csv", index= False)

acct_df4.describe().T

/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_8857/682510891.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acct_df4.loc[index,'calc_ap_value'] = calc_ap_value
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_8857/682510891.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acct_df4.loc[index,'calc_at_value'] = calc_at_value
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_8857/682510891.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  acct_df4.loc[index,'calc_capx_value'] = calc_capx_value
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_8857/682510891.py:37: RuntimeWarning: invalid value encountered in double_scalars
  calc_invt_value = (row['invt'] - invt_value) / invt_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_8857/682510891.py:33: RuntimeWarning: invalid value encountered in double_scalars
  calc_capx_value = (row['capx'] - capx_value) / capx_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_8857/682510891.py:31: RuntimeWarning: divide by zero encountered in double_scalars
  calc_ap_value = (row['ap'] - ap_value) / ap_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_8857/682510891.py:39: RuntimeWarning: invalid value encountered in double_scalars
  calc_rect_value = (row['rect'] - rect_value) / rect_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_8857/682510891.py:37: RuntimeWarning: divide by zero encountered in double_scalars
  calc_invt_value = (row['invt'] - invt_value) / invt_value * 100
/var/folders/gs/31y981014b72656vt76cm2kr0000gn/T/ipykernel_8857/682510891.py:34: RuntimeWarning: invalid value encountered in double_scalars
  calc_cogs_value = (row['cogs'] - cogs_value) / cogs_value * 100

,count,mean,std,min,25%,50%,75%,max
gvkey,662.0,4.639679e+04,61302.483972,1075.000000,6156.000000,13125.000000,63149.000000,3.160560e+05
fyear,662.0,2.020500e+03,1.501134,2019.000000,2019.000000,2020.500000,2022.000000,2.022000e+03
ap,658.0,1.442408e+04,126810.311036,0.000000,335.852250,1014.223000,2706.250000,2.340179e+06
at,662.0,6.289927e+04,227005.965270,956.375000,9848.635000,20889.550000,49435.100000,3.665743e+06
capx,662.0,1.604341e+03,3445.105367,0.000000,150.137250,489.200000,1588.199000,3.148500e+04
cogs,662.0,1.730350e+04,40116.887409,0.000000,2285.845750,6298.000000,12764.000000,4.527760e+05
epsfx,662.0,6.894260e+00,22.911088,-121.790000,2.092500,4.495000,7.797500,4.918200e+02
gp,662.0,9.906425e+03,19069.459326,-17188.000000,2231.425000,4007.600000,9180.750000,1.794820e+05
invt,651.0,3.031198e+03,14429.966550,0.000000,118.850000,778.300000,2254.132000,2.588080e+05
ni,662.0,2.748175e+03,7273.057118,-22819.000000,516.990000,1036.900000,2706.750000,9.980300e+04
rect,658.0,1.113364e+04,73475.093310,0.000000,738.500000,1596.500000,4340.954500,1.111951e+06
sale,662.0,2.720992e+04,54038.865167,60.209000,5377.300000,11091.000000,22304.818500,6.084810e+05
calc_ap_value,328.0,inf,NaN,-100.000000,14.381166,36.014630,61.719720,inf
calc_at_value,331.0,3.917502e+01,109.723559,-49.803770,5.251981,18.863301,45.210870,1.526881e+03
calc_capx_value,320.0,2.878986e+01,85.254980,-76.414932,-9.428735,15.781622,48.265294,1.167668e+03
calc_cogs_value,330.0,3.718385e+01,60.219883,-63.684258,11.972971,27.523388,45.150898,7.815323e+02
calc_epsfx_value,331.0,-7.751638e+00,566.688495,-5400.000000,-30.288491,17.690875,61.274325,5.600000e+03
calc_gp_value,331.0,2.415709e+01,168.371159,-2857.922592,6.407170,19.989652,51.023763,3.675000e+02
calc_invt_value,259.0,inf,NaN,-88.235294,21.835606,40.188806,70.695426,inf
calc_ni_value,331.0,2.907479e+01,809.623498,-5710.738255,-20.233774,20.097861,71.481672,1.227262e+04
calc_rect_value,328.0,7.223892e+01,560.934933,-69.714286,4.354525,26.392899,54.646088,1.011047e+04
calc_sale_value,331.0,1.297195e+02,1751.647034,-60.097238,12.448786,24.741773,44.807988,3.189356e+04

In [131]:
## create new variables (simplified code with ChatGTP)

# acct_df5 = acct_df3
# prev_row = acct_df5.iloc[0]
# for index, row in acct_df5.iloc[1:].iterrows():
#     if index % 2 == 1:
#         calc_row = (row - prev_row) / prev_row * 100
#         calc_row.rename({k: f"calc_{k}" for k in calc_row.index}, inplace=True)
#         acct_df5.loc[index, calc_row.index] = calc_row
#     else:
#         prev_row = row

# acct_2022 = acct_df5
# acct_2022.describe().T
# acct_2022['gvkey'].nunique()

In [132]:
## create new variables (simplified code with ChatGTP) - 2021

# acct_df5 = acct_df3_21
# prev_row = acct_df5.iloc[0]
# for index, row in acct_df5.iloc[1:].iterrows():
#     if index % 2 == 1:
#         calc_row = (row - prev_row) / prev_row * 100
#         calc_row.rename({k: f"calc_{k}" for k in calc_row.index}, inplace=True)
#         acct_df5.loc[index, calc_row.index] = calc_row
#     else:
#         prev_row = row

# acct_2021 = acct_df5
# acct_2021.describe().T
# acct_2021['gvkey'].nunique()

In [133]:
## testing
acct_df_21_22 = acct_raw.query('fyear == 2019 or fyear == 2021 or fyear == 2022')
value_counts_21_22 = acct_df_21_22['gvkey'].value_counts()
acct_df2_21_22 = acct_df_21_22[acct_df_21_22['gvkey'].isin(value_counts_21_22.index[value_counts_21_22==3])].reset_index(drop=True)
acct_df3_21_22 = acct_df2_21_22[['gvkey', 'fyear', 'ap', 'at', 'capx', 'cogs', 'epsfx', 'gp', 'invt', 'ni', 'rect', 'sale']]

acct_df6 = acct_df3_21_22
#prev_prev_row = acct_df5.iloc[0]
prev_row = acct_df6.iloc[0]
for index, row in acct_df6.iloc[1:].iterrows():
    if row.values[1] == 2019.0:
        prev_row = row
    elif row.values[1] == 2021.0:
        calc_row = (row - prev_row) / prev_row * 100
        calc_row.rename({k: f"calc_{k}" for k in calc_row.index}, inplace=True)
        acct_df6.loc[index, calc_row.index] = calc_row
    elif row.values[1] == 2022.0:
        calc_row = (row - prev_row) / prev_row * 100
        calc_row.rename({k: f"calc_{k}" for k in calc_row.index}, inplace=True)
        acct_df6.loc[index, calc_row.index] = calc_row

# print(acct_df3_21_22['gvkey'].nunique())
# len(acct_df3_21_22.query('fyear == 2019'))

# The Final Dataset

In [134]:
filtered_out_df.columns

Index(['gvkey', 'cid', 'cnms', 'ctype', 'gareac', 'gareat', 'salecs', 'sid',
       'stype', 'srcdate', 'conm', 'tic', 'cusip', 'CIK', 'sic', 'Symbol',
       'Security', 'GICS Sector', 'GICS Sub-Industry', 'Headquarters Location',
       'Date added', 'Founded', 'date'],
      dtype='object')

In [135]:
# merge acct with filtered_out_df
filtered_out_df['fyear'] = pd.to_datetime(filtered_out_df['srcdate']).dt.year
comp_final = filtered_out_df[['gvkey','cnms', 'ctype', 'salecs','srcdate', 'conm', 'tic', 'cusip', 'CIK', 'sic', 'Symbol','GICS Sector','fyear']]

In [136]:

# Select the desired columns from comp_final
cleaned_comp = comp_final[['gvkey', 'fyear', 'conm', 'Symbol', 'CIK']]

# Drop duplicates from df2_subset
cleaned_comp = cleaned_comp.drop_duplicates()

cleaned_comp.to_csv('cleaned_comp.csv')

# Merge df1 with df2_subset on the 'gvkey' and 'fyear' columns
# merged_df = pd.merge(df1, df2_subset, on=['gvkey', 'fyear'], how='left')
print(filtered_out_df['gvkey'].nunique())
print(comp_final['gvkey'].nunique())
print(cleaned_comp['gvkey'].nunique())
print("acct_raw length",len(acct_raw))
# print(acct['gvkey'].nunique()) # w/ accounting calculations
# print(acct.shape)




# with acct (with the long way to calculate variables)
accounting = cleaned_comp.merge(acct, how='right',on=['gvkey','fyear'], indicator=True)
value_counts2 = accounting['gvkey'].value_counts()
accounting2 = accounting[accounting['gvkey'].isin(value_counts2.index[value_counts2==2])].reset_index(drop=True)
print(accounting['gvkey'].nunique())
print(accounting2['gvkey'].nunique())


# accounting = cleaned_comp.merge(acct_2021, how='left',on=['gvkey','fyear'], indicator=True)
# value_counts2 = accounting['gvkey'].value_counts()
# accounting2 = accounting[accounting['gvkey'].isin(value_counts2.index[value_counts2==2])].reset_index(drop=True)
# print(accounting['gvkey'].nunique())
# print(accounting2['gvkey'].nunique())

# accounting = cleaned_comp.merge(acct_2021, how='left',on=['gvkey','fyear'], indicator=True)
# value_counts2 = accounting['gvkey'].value_counts()
# accounting2 = accounting[accounting['gvkey'].isin(value_counts2.index[value_counts2==2])].reset_index(drop=True)
# print(accounting['gvkey'].nunique())
# print(accounting2['gvkey'].nunique())

355
355
355
acct_raw length 26905
331
329

In [138]:
# merging
final = comp_final.merge(acct, how='inner',on=['gvkey','fyear'])
final

,gvkey,cnms,ctype,salecs,srcdate,conm,tic,cusip,CIK,sic,...,calc_ap_value,calc_at_value,calc_capx_value,calc_cogs_value,calc_epsfx_value,calc_gp_value,calc_invt_value,calc_ni_value,calc_rect_value,calc_sale_value
0,1075,Retail non-residential electric service,MARKET,1509.514,2019-12-31,PINNACLE WEST CAPITAL CORP,PNW,723484101,764622.0,4911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1075,Retail residential electric service,MARKET,1761.122,2019-12-31,PINNACLE WEST CAPITAL CORP,PNW,723484101,764622.0,4911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1075,Wholesale energy sales,MARKET,121.805,2019-12-31,PINNACLE WEST CAPITAL CORP,PNW,723484101,764622.0,4911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1075,Other sources,MARKET,16.308,2019-12-31,PINNACLE WEST CAPITAL CORP,PNW,723484101,764622.0,4911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075,Transmission services for others,MARKET,62.460,2019-12-31,PINNACLE WEST CAPITAL CORP,PNW,723484101,764622.0,4911,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3184,189491,Treatment,MARKET,397.000,2019-12-31,XYLEM INC,XYL,98419M100,1524472.0,3561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3185,189491,Transport,MARKET,1780.000,2019-12-31,XYLEM INC,XYL,98419M100,1524472.0,3561,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3186,316056,Non-U.S.,GEOREG,865.100,2019-12-31,ALLEGION PLC,ALLE,G0176J109,1579241.0,3420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3187,316056,United States,GEOREG,1988.900,2019-12-31,ALLEGION PLC,ALLE,G0176J109,1579241.0,3420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3188,316056,10 Customers,COMPANY,656.420,2019-12-31,ALLEGION PLC,ALLE,G0176J109,1579241.0,3420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [139]:
# mergingV2 - TEST!!!
final2 = acct.merge(comp_final, how='right',on=['gvkey','fyear'])
final2

final2['gvkey'].nunique()

355

In [140]:
final.to_csv("outputs/final.csv", index = False)

In [ ]:
# # to see # unique firms
# fin = final.groupby("CIK")['cnms'].apply(lambda x: list(np.unique(x)))
# len(fin)

In [ ]:
# # Filter out rows with fyear equal to 2019
# final_2022 = final[final['fyear'] == 2022]

# # Save the filtered dataset as a new CSV file
# final_2022.to_csv("outputs/final_2022.csv", index=False)