### Here is a breakdown of what each column represents:

- gvkey: a unique identifier for the company (Global Company Key)
- cid: a unique identifier for the customer
- cnms: customer name
- ctype: customer type
- gareac: geographic area code
- gareat: geographic area type
- salecs: sales in current period (in millions)
- sid: segment identifier
- stype: segment type
- srcdate: source date
- conm: company name
- tic: stock ticker symbol
- cusip: CUSIP number, a unique identifier for a security
- cik: SEC Central Index Key, a unique identifier for a company
- sic: Standard Industrial Classification code, a numerical code used to classify industries

In [2]:
## imports
import pandas as pd
import os

In [6]:
comp = pd.read_csv('inputs/cust_supply_2019_2022.csv')

In [9]:
# Select rows where 'cnms' is not equal to 'U.S. Government'
comp = comp[comp['cnms'] != 'U.S. Government']
comp

,gvkey,cid,cnms,ctype,gareac,gareat,salecs,sid,stype,srcdate,conm,tic,cusip,cik,sic
0,1004,31,All Other,MARKET,NaN,NaN,NaN,0,NaN,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
3,1004,36,Europe/Africa,GEOREG,EUROPE,REG,5.800,22,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
4,1004,34,Other,GEOREG,OTHER,REG,170.400,20,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
5,1004,32,North America,GEOREG,N_AMER,REG,1426.800,20,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
6,1004,23,Other Government and Defense,GOVFRN,OTHER,REG,122.400,20,BUSSEG,2019-05-31,AAR CORP,AIR,000361105,1750.0,5080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77896,350681,1,Large Corporate Clients,MARKET,NaN,NaN,76.814,1,BUSSEG,2021-12-31,GETNET ADQUIRENCIA E,GET,37428A103,1867325.0,7374
77897,353444,4,Rest of the World,GEOREG,R_WORLD,REG,7148.294,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834
77898,353444,3,China,GEOREG,CHN,ISO,1084.634,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834
77899,353444,2,US,GEOREG,USA,ISO,4249.166,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834
77900,353444,1,UK,GEOREG,GBR,ISO,442.791,1,BUSSEG,2021-12-31,HALEON PLC,HLN,405552100,NaN,2834

## Getting the SP500 data

In [3]:
## downloading the SP500 info from the web

os.makedirs("inputs", exist_ok=True)
sp500_file = 'inputs/sp500_2022.csv'

if not os.path.exists(sp500_file):
    url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
    pd.read_html(url)[0].to_csv(sp500_file,index=False)

sp500 = pd.read_csv('inputs/sp500_2022.csv')

In [ ]:
## merging the sp500 dataset to the compustat dataset

# add merge code here

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952