In [1]:
## testing

In [28]:
import numpy as np
import pandas as pd
import random

# step 1 will load some database and prep it for the loopy parts
# here, we will just use a toy dataset

toy_database = pd.DataFrame({"Security":['3M','3M','APPL', 'APPL'],
             "Year":['2019','2020','2019', '2020'],
                             "one value":[5,10,40, 60],
                            "second value":[10,26,14, 30]})

toy_database

one_value = 0
two_value = 0

for index, row in toy_database.iterrows():
    print(f"Index:{index}, Year:{row['Year']}")
    # row can be used like row['var_name']
    if index%2 ==0:
        one_value = row['one value']
        two_value = row['second value']
        print(one_value,two_value)
    if index%2 ==1:
        calc_value1 = (row['one value'] - one_value) / one_value * 100
        calc_value2 = (row['second value'] - two_value) / two_value * 100
        toy_database.loc[index,'one change'] = calc_value1
        toy_database.loc[index,'another change'] = calc_value2

        

toy_database

Index:0, Year:2019
5 10
Index:1, Year:2020
Index:2, Year:2019
40 14
Index:3, Year:2020

  Security  Year  one value  second value  one change  another change
0       3M  2019          5            10         NaN             NaN
1       3M  2020         10            26       100.0      160.000000
2     APPL  2019         40            14         NaN             NaN
3     APPL  2020         60            30        50.0      114.285714